
  header {
      text-align: center;
      font-size: 2em;
      font-weight: bold;
    }
    nav a {  
text-decoration: none;
      top-margin:px ;
    }
    .highlight {
      font-weight: bold;
    }
    summary {
      font-style: italic;
		margin-top:20px;
    }
    section {
      margin: 20px;
    }
    aside {
      font-size: 0.8em;
    }
    footer {
      text-align: center;
    }
